<div id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Vores kunder</h3>
                <p>
                    Dette er nogen af vores kunder som har hjulpet os ved at bruge Skveege
                </p>
                <div class="logos">
                    <img src="/images/logos/byens-polering.png">
                    <img src="/images/logos/ottos-vp.png">
                    <img src="/images/logos/kmservice.png">
                    <!--img src="images/logos/stripe.png">
                    <img src="images/logos/yahoo.png"-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu">
                <h3>Overview</h3>
                <ul>
                    <!--li>
                        <a href="features.html">Features</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="support.html">Support</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="blog.html">Coming soon</a>
                    </li-->
                </ul>
            </div>
            <div class="col-sm-3 menu">
                <h3>Menu</h3>
                <ul>
                    <!--li>
                        <a href="features.html">Om Skveege</a>
                    </li>
                    <li>
                        <a href="services.html">Kontakt os</a>
                    </li-->
                    <li>
                        <a href="http://docs.skveege.com">Vejledning</a>
                    </li>
                    <li>
                        <a href="http://tech.skveege.com">API</a>
                        <a href="http://tech.skveege.com" class="hiring">
                            For developers
                        </a>
                    </li>
                    <!--li>
                        <a href="blog.html">Status</a>
                    </li-->
                </ul>
            </div>
            <div class="col-sm-2 menu">
                <h3>Social</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/skveege">Facebook</a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+SkveegeApp">Google+</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 newsletter">
                <div class="signup clearfix">
                    <p>
                        Skriv dig op til at modtage vores nyhedsbrev og få mere information om hvordan Skveege hjælper vinduespudsere til at planlægge deres arbejdsdag.

                    </p>

                    <form action="https://skveege.us10.list-manage.com/subscribe/post?u=0ff9424e98bec3ff0538da212&amp;id=5f6abfdad9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" name="EMAIL" class="form-control" placeholder="Din mailadresse" />
                        <input type="submit" value="OK" />
                    </form>




                </div>
                <a href="https://www.facebook.com/skveege">
                    <img src="/images/social/fb.png" alt="Facebook" />
                </a>
                <a href="https://plus.google.com/+SkveegeApp">
                    <img src="/images/social/gp.png" alt="Google plus" />
                </a>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                Copyright © 2015. <a href="http://apaq.dk" alt="Apaq - eksperter i softwareudvikling">Apaq</a>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-58081261-1', 'auto');
ga('send', 'pageview');
</script>
