<div id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Vores kunder</h3>
                <p>
                    Lo-Fa-Rén, har i mange år været foretrukket af flere større virksomheder på Lolland-Falster. Nedenstående liste er et lille udpluk af disse virksomheder.
                </p>
                <div class="logos">
                    <img src="/images/logos/ncc.png">
                    <img src="/images/logos/odegaard.png">
                    <img src="/images/logos/advodan.png">
                    <img src="/images/logos/aa-m.png">
                    <img src="/images/logos/femern.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu">
                <h3>Oversigt</h3>
                <ul>
                    <li>
                        <a href="/history.html">Historie</a>
                    </li>
                    <li>
                        <a href="/contact.html">Kontakt</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-3 menu">
                <h3>Menu</h3>
                <ul>
                    <li>
                        <a href="/cleaning.html">Rengøring</a>
                    </li>
                    <li>
                        <a href="/floors.html">Tæpperens</a>
                    </li>
                    <li>
                        <a href="/windows.html">Vinduespolering</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 menu">
                <h3>Værktøjer</h3>
                <ul>
                    <li>
                        <a href="https://www.skveege.com" >Skveege</a>
                        <a href="http://www.skveege.com" class="hiring">
                            For vinduespudsere
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 newsletter">
                <!--div class="signup clearfix">
                    <p>
                        Skriv dig op til at modtage vores nyhedsbrev og få mere information om hvordan Skveege hjælper vinduespudsere til at planlægge deres arbejdsdag.

                    </p>

                    <form action="https://skveege.us10.list-manage.com/subscribe/post?u=0ff9424e98bec3ff0538da212&amp;id=5f6abfdad9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" name="EMAIL" class="form-control" placeholder="Din mailadresse" />
                        <input type="submit" value="OK" />
                    </form>




                </div>
                <a href="https://www.facebook.com/skveege">
                    <img src="/images/social/fb.png" alt="Facebook" />
                </a>
                <a href="https://plus.google.com/+SkveegeApp">
                    <img src="/images/social/gp.png" alt="Google plus" />
                </a-->
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                Copyright © 2015 af LoFaRen. Udviklet af <a href="http://apaq.dk" alt="Apaq - eksperter i softwareudvikling">Apaq</a>.
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

